# RAG core
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-chroma
chromadb
sentence-transformers
pandas
openpyxl
python-dotenv

# API layer
fastapi
uvicorn[standard]
pydantic

# Monitoring (added later with Docker)
prometheus-fastapi-instrumentator